src/main/mule/demo-on-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="991cfb0a-5251-4b6d-8564-819fde328bea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-on-cicdFlow" doc:id="7249f076-43a0-4cb9-9839-21104f3b525d" >
		<http:listener doc:name="Listener" doc:id="72141a1c-c53d-465c-83be-4a93ab07f8ed" config-ref="HTTP_Listener_config" path="/cicdDemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="faca78f4-e113-45d4-965d-d926fe11d200" />
		<set-payload value='#["This is Demo on CICD"]' doc:name="Set Payload" doc:id="7ff63814-8f03-45cf-9ca1-884680f12a51" />
	</flow>
</mule>
